form.button_to {
  display: inline;
  margin: 0;
  padding: 0;
}
form.button_to div { display: inline; }
form.button_to input[type=submit] {
    margin: 0;
    padding: 0;
    -webkit-appearance: caret;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    text-decoration: underline;
    color: #0000FF;
  }
}
