<!DOCTYPE html>
<html>
<head>
  <title>Omniauth rails</title>
  <%= stylesheet_link_tag    "omniauth/rails/application", media: "all" %>
  <%= javascript_include_tag "omniauth/rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
